ul.social-menu {
    list-style: none;
    padding-left: 0;
    margin: 0;

    .site-footer & {
        float: right;
    }

    li {
        display: inline;
    }

    svg {
        fill: currentColor;
    }
}
