.element-item {
  width: 100%;
//   float: left;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
}


.element-item > * {
//   display: table-cell;
// //   padding: 4px 4px;
  float: left;
    // flex: 1;
   width: 100%;

}

.element-item .name { width: 30%; }
.element-item .category { width: 20%; }
.element-item .building { width: 20%; }
.element-item .type { width: 10%; }
.element-item .surface { width: 10%; }
.element-item .price { width: 10%; }

// .element-item .name { flex: 3; }
// .element-item .category { flex: 3; }
// .element-item .building { flex: 2; }
// .element-item .type { flex: 1; }
// .element-item .surface { flex: 1; }
// .element-item .price { flex: 1; }
