.hs {

  &.hs_cards {
    .grid {
      @extend .list-unstyled;
    }

    .hs_heading {
      display: none;
    }

    .hs_card {
      margin-bottom: $grid-gutter-width * 2;

      .hs_card_content {
        @extend .list-unstyled;
        border: 1px solid $gray-400;
        border-radius: 3px;

        > * {
          padding-left: $grid-gutter-width;
          padding-right: $grid-gutter-width;
        }
      }

      .name {
        background-color: $primary;

        a {
          color: white;
          text-decoration: none;
          font-weight: bold;
        }
      }

      .hs_card_data,
      .hs_card_value {
        width: 50%;
      }
    }
  }

  &.hs_list {
    .grid-item {
      width: 100%;
    
      > * {
        float: left;
      }
      .name { width: 50%; }
      .building { width: 50%; }
      .category { width: 40%; }
      .type { width: 20%; }
      .surface { width: 20%; }
      .price { width: 20%; }

      @include media-breakpoint-up(md) {
        .name { width: 30%; }
        .category { width: 20%; }
        .building { width: 20%; }
        .type { width: 10%; }
        .surface { width: 10%; }
        .price { width: 10%; }
      }
    }
  }
}

.hs_filtercount {
  font-size: 15px;
  font-weight: bold;
  line-height: 2.5;
}
// Sort
.icon-sort {
    svg {
        transition: transform .3s;
        width: 10px;
        margin-left: 0.5rem;
    }

    &.sort-down svg {
        transform: rotate(180deg);
    }
}

