img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
    max-width: 100%;
}

pre {
    white-space: pre-wrap;
}

b, strong {
    font-weight: bold;
}
