body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Add top margin to all headings except first
h1, 
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.5rem;

    // Remove top margin from 1st heading inside sections with a background.
    &:first-child {
        margin-top: 0;
    }
}

// Remove top-margin from all headings folowing another heading.
h1+h2,
h2+h3,
h3+h4,
h4+h5,
h5+h6,
h1+h3,
h2+h4,
h3+h5,
h4+h6 {
    margin-top: -0.25rem;
}

blockquote {
    @extend .blockquote;
    @extend .p-4;

    border: 1px solid $border-color;
    background-color: rgba($light, 0.5);
    margin-top: 1rem;
    margin-bottom: $paragraph-margin-bottom;
    clear: both;

    p {
        font-style: italic;
    }

    >*:first-child {
        margin-top: 0;
    }

    >*:last-child {
        margin-bottom: 0;
    }
}

.page-title {
    margin-bottom: 1rem;
}
