.posts {
  article.post {
    img {
      width: 100%;
      height: auto;
    }

    p {
      margin-bottom: 0.75rem;
    }

    // Remove margin-bottom from last element in last row
    & > *:last-child {
      margin-bottom: 0;
    }
  }
}
